@import '~bootstrap/scss/bootstrap';

body, html {
  height: 100%;
  text-align: center;
  padding-top: 5rem;
  background-image: url('/dice.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.wrongGuess {
  color: red;
}

.box {
  align-items: center;
  display: subgrid;
  width: 50%;
  height: 200px;
  justify-content: center;
  margin: 1em;
  padding: 1em;
}

.list:hover {
  background-color: #B11313;
}

.list {
  align-content: center;
  font-size: 2em;
}

.row {
  display: flex;
  justify-content: center;

}
