@import '~bootstrap/scss/bootstrap';

body {
  height: 100%;
  text-align: center;
  padding-top: 5rem;
  background-image: url('./dice.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 100px;
}

// .App {
//   // padding: 5em;
//   // position: absolute;
//   height: 80vh;
//   width: 100vw;
//   background-repeat: no-repeat;
//   // background-size: cover;
//   // background-position: center;
//   // background-attachment: fixed;
// }

// html {
//   padding-top: 5em;
// }
// .game-board {
//   padding-top: 7em;
//   // margin-bottom: 5em;
// }

.wrongGuess {
  color: red;
}

.box {
  align-items: center;
  display: subgrid;
  width: 50%;
  // height: 200px;
  justify-content: center;
  margin: 1em;
  padding: 1em;
}

.footerLink {
  color: #FFF;
}
.footerLink:hover {
   color: red;
}
// .image {
//   position: relative;
// }
//
// .games-list {
//   position: absolute;
// }

.list:hover {
  background-color: #B11313;
}

.list {
  // align-content: center;
  font-size: 2em;
}

.row {
  display: flex;
  justify-content: center;

}
